<?xml version="1.0"?>
<!-- created with Phobos 0.7 -->
  <robot name="simple_mechanism">
    <material name="Blue">
      <color rgba="0.2 0.2 1.0 1.0"/>
    </material>

    <link name="uuv">
      <visual name="upper_cone">
        <origin xyz="0 0 10" rpy="0 1.5708 0"/>
        <geometry>
          <mesh filename="uuv.stl" scale="0.2 0.12 0.2"/>
        </geometry>
        <material name="Blue"/>
      </visual>
    </link>
  </robot>
